<div class="creditcard">
    <div class="front is-centered">
        <div id="ccsingle"></div>
        <svg
            version = "1.1"
            id="cardfront"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x = "0px"
            y = "0px"
            viewBox = "0 0 750 471"
            style="enable-background: new 0 0 750 471;"
            xml:space="preserve">
            <g id="Front">
                <g id="CardBackground">
                    <g id="Page-1_1_">
                        <g id="amex_1_">
                            <path
                                id="Rectangle-1_1_"
                                class="lightcolor grey"
                                d= "m40,0h670c22.1,0,40,17.9,40,40v391c0,22.1-17.9,40-40,40H40c-22.1,0-40-17.9-40-40V40C0,17.9,17.9,0,40,0z"></path>
                        </g>
                    </g>
                    <path class="darkcolor greydark"
                    d="M750,431V193.2c-217.6-57.5-5556.4-13.5-750,24.9V431c0,22.1,17.9,40,40,40h670C732.1,471,750,453.1,750,431z"></path>
                </g>
            </g>

        </svg>
    </div>
</div>
